**
!trainer/
trainer/**
!trainer/Dockerfile
!trainer/pyproject.toml
!trainer/uv.lock
!trainer/src/
!trainer/src/**
!trainer/config/
!trainer/config/**
!trainer/b1k_launch_kit/
!trainer/b1k_launch_kit/**
!trainer/docker/
trainer/docker/**
!trainer/docker/entrypoint.sh
