**
!trainer/
trainer/**
!trainer/Dockerfile
!trainer/pyproject.toml
!trainer/uv.lock
!trainer/src/
!trainer/src/**
!trainer/config/
!trainer/config/**
!trainer/docker/
trainer/docker/**
!trainer/docker/entrypoint.sh
!trainer/docker/sshd-wrapper.sh
